.wrapper{
    padding: 0px 20px 20px 20px;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
.header{
    height: 60px;
    width: 100%;
    background-color: #0097A7;
    margin-bottom: 20px;
}
h1{
    padding-top: 5px;
    color:#BDBDBD;
}
.body{
    border: 1px solid gray;
    box-shadow: -1px 2px 6px 5px gray;
    height: 400px;
}
p {
    text-align: justify;
    padding-left: 50px;
    color: #00BCD4;
    font-size: 24px;
    font-weight: bold;
}
.lable {
    text-align: justify;
    padding-left: 50px;
    margin-bottom: 20px;

}
input{
    font-family: 'FontAwesome';
}
.lable input{
    width: 90%;
    height: 20px;
}
.lable-1{
    text-align: justify;
    padding-left: 50px;
    margin-bottom: 20px;
}
.lable-1 input{

    width: 43%;
    height: 20px;
}
.lable-1-1{
    margin-right: 2%;
}
.boxcheck{
    text-align: justify;
    padding-left: 50px;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: #00BCD4;
}
.sub{
    color: white;
    background-color: #00BCD4;
    height: 30px;
    font-size: 12px;
    margin-left: 35px;


}
.checkbox {

    /* display: block; */
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox input:checked ~ .checkmark {
    background-color: #00BCD4;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

  }
